* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  position: sticky;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.button {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

#logo {
  width: 49%;
  height: 200px;
  align-items: center;
  background-color: blue;
  background-image: url(../img/logo.png);
}

#logo2 {
  width: 50%;
  height: 200px;
  align-items: center;
  background-color: blue;
  background-image: url(../img/logo2.png);
}

.titulo {
  color: blue;
  font-size: 30px;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: aliceblue;
}

.segundotitulo {
  color: blueviolet;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: aliceblue;
}

h2 {
  color: blue;
  font-size: 30px;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  columns: 4;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para dispositivos móviles */
body {
  font-size: 16px;
  padding: 10px;
}

/* Media query para tabletas */
@media (min-width: 600px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
}

/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
    padding: 30px;
  }
}

/* Estilos para dispositivos móviles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query para tabletas y computadoras de escritorio */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Estilos para dispositivos móviles */
.container {
  display: flex;
  flex-direction: column;
}

/* Media query para tabletas y computadoras de escritorio */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Estilos para dispositivos móviles */
img {
  width: 100%;
  height: auto;
}

/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
  img {
    width: 50%;
  }
}
